$color-white: #FFF;
$color-bg: #161823;
$color-bottom: #1A1B25;
$color-top: #060812;
$color-dark: #0E0F1A;
$color-overlay: rgba(16, 22, 44, 0.45);
$color-blue: #0B78E3;
$color-violet: #8D4DE8;
$color-pink: #FF2366;
$color-bubble: #FD51D9;
$light: 300;
$normal: 400;
$font-main: 'Lato', sans-serif;
$font-add: "Heebo", sans-serif;
$head: 2.5em;
$smaller: .875em;
$bigger: 1.125em;
